body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;

}

.player-statistics {
  flex: 1;
  padding: 10px;

}

.match-statistics {
  flex: 1;
  padding: 10px;

}


